@import "../vars/palette.scss";

.button {
    border: none;
    background-color: $background-2;
    padding: 10px 10px;

    &:not(:disabled) {
        cursor: pointer;
    }
}

.button.primary {
    background-color: $button;
    color: $button_text;
}

.button.rounded {
    border-radius: 40px;
}